html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    
    
}

.page {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 900px;
    border: 1px solid #fff;
}

.header,
.hero,
.footer {
    background: #1f2937;
   padding: 0 48px;
}

ul {
    display: flex;
    flex: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}

li:first-of-type {
    margin-right: auto;
}

.gallery {
    text-align: center;
}

.quote {

}

.footer {

}